* {
  box-sizing: border-box;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
    font-weight: 400;
}

header {
    background-color: darkorchid;
}

article {
    
    background-color: silver;
}

footer {
    background-color: dodgerblue;
}

.title-image {
    width: 3rem;
}

.container-main {
    display: grid;
    grid-template-rows: 9fr auto;
}

.container-outer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 6fr 1fr;
    color: white;
    
}

/* Small Screen by default: */


/*  Larger screens */
@media only screen and (min-width: 768px) {
    .container-outer {
        grid-template-columns: 1fr 3fr;
    }
    

    
    
    .container-head {
        display: grid;
        grid-template-rows: auto;
        height: 800px;
    }
    
}

#grade-buttons {
    display: grid;
    grid-template-columns: 3rem 3rem 3rem 3rem 3rem 3rem;
    gap: 0.5rem;
}


