* {
  box-sizing: border-box;
  margin: 0px;
}

header {
    background-color: darkorchid;
}

article {
    
    background-color: silver;
}

footer {
    background-color: dodgerblue;
}

.title-image {
    width: 3rem;
}


.container-outer {
    min-height: 500px;
    display: grid;
    grid-template-columns: auto;
    color: blue;
}

/* Small Screen by default: */


/*  Larger screens */
@media only screen and (min-width: 768px) {
    .container-outer {
        grid-template-columns: 1fr 3fr;
        color: yellow;
    }
    
}